/* Has JS */
html.js-enabled section form {
    overflow: hidden;
    height: 225px;
    gap: 0;
    width: initial;
}
html.js-enabled #form-container{
    display: flex;
    justify-content: center;
}
html.js-enabled section fieldset {
    flex: 1;
    opacity: 0;
}

html.js-enabled section fieldset legend {
    display: flex;
}

html.js-enabled section fieldset:first-child {
    opacity: 1;
}

html.js-enabled section #formControl {
    text-align: center;
}

html.js-enabled section .answers-wrapper {
    justify-content: center;
    gap: 0.5rem;
    flex-direction: row;
}

html.js-enabled section .answers-wrapper .input-wrapper {
    flex-direction: column;
    text-align: center;
    flex: 1;
}

html.js-enabled section .answers-wrapper .input-wrapper input[type="radio"] {
    width: 44px;
    height: 44px;
}

html.js-enabled section .answers-wrapper .input-wrapper input[type="radio"] + label {
    font-size: 13px;
}

@media (min-width: 500px) {
    html.js-enabled section .answers-wrapper {
        gap: 1rem;
        flex-direction: row;
    }

    html.js-enabled section .answers-wrapper .input-wrapper {
        flex-direction: column;
    }

    html.js-enabled section .answers-wrapper .input-wrapper input[type="radio"] {
        width: 55px;
        height: 55px;
    }

    html.js-enabled section .answers-wrapper .input-wrapper input[type="radio"] + label {
        font-size: 15px;
    }
}

@media (min-width: 850px) {
    html.js-enabled section .answers-wrapper {
        gap: 1rem;
        flex-direction: row;
    }

    html.js-enabled section .answers-wrapper .input-wrapper {
        flex-direction: column;
        max-width: 140px;
    }

    html.js-enabled section .answers-wrapper .input-wrapper input[type="radio"] {
        width: 64px;
        height: 64px;
    }

    html.js-enabled section .answers-wrapper .input-wrapper input[type="radio"] + label {
        font-size: 1rem;
    }
}
html.js-enabled .controls-container{
    top: calc(100% - 30px);
    position: absolute;
    translate: -50% -50%;
    opacity: 1;
    transition: .5s ease;
    justify-content: center;
    display: flex;
    width: 100%;
    max-width: 350px;
    flex-wrap: wrap;
    row-gap: 10px;
    left: 50%;
}
@keyframes slide-in{
    0%{
        translate: 0 100px;
    }
    100%{
        translate: 0 0;
    }
}
@media (prefers-reduced-motion: no-preference) {
    @starting-style {
        html.js-enabled .controls-container {
            opacity: 0;
            top: 550px;
        }
    }
    html.js-enabled .animation--slide-in legend{
        animation: .5s slide-in ease-in;
    }
}