body {
  overflow: hidden;
  --mode: normal;
  background-size: cover;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;

  &:has(#toggle:checked) {
    --mode: hysterical;
  }

  background-image: if(style(--mode: normal): url("/img/mystic.jpg");
    style(--mode: hysterical): url("/img/clouds.webp");
    else: none);
}

.switch {
  display: inline-block;
  height: 60px;
  position: absolute;
  top: 100px;
  left: 50%;
  width: 150px;
  translate: -50% 0;
  animation: if(style(--mode: normal): shadows 1.5s infinite;
      style(--mode: hysterical): .5s animation 5;
      else:shadows 1.5s infinite);

  box-shadow: if(style(--mode: normal): 0px 0px 20px 10px #48abe0;
      style(--mode: hysterical): 0px;
      else: 0px 0px 20px 10px #48abe0);
  border-radius: 60px;
}

@keyframes shadows {
  0% {
    box-shadow: 0px 0px 100px 10px #a6e048;
  }

  50% {
    box-shadow: 0px 0px 20px 10px rgb(226, 43, 43);
  }

  75% {
    box-shadow: 0px 0px 20px 10px rgb(226, 43, 43);
  }

  100% {
    box-shadow: 0px 0px 100px 10px #a6e048;
  }
}

@keyframes animation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    top: 10%;
    left: 10%;
  }

  25% {
    transform: translate(-50%, -50%) rotate(5deg);
    top: 20%;
    left: 80%;
  }

  50% {
    transform: translate(-50%, -50%) rotate(0deg);
    top: 70%;
    left: 20%;
  }

  75% {
    transform: translate(-50%, -50%) rotate(-5deg);
    top: 60%;
    left: 70%;
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    top: 10%;
    left: 10%;
  }
}

.switch input {
  display: none;
}

.slider {
  background-color: #9c46ff;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 52px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 52px;
}

input:checked+.slider {
  background-color: #435D44;
}

input:checked+.slider:before {
  transform: translateX(90px);
  /* 150 - 52 - 8 = 90 */
}

.slider.round {
  border-radius: 60px;
}

.slider.round:before {
  border-radius: 50%;
}

.illuminati {
  position: absolute;
  --test: if(style(--mode: normal): red style(--mode: hysterical):green;
      else: red);
  left: 50%;
  translate: if(style(--mode: normal): -50% 0;
      style(--mode: hysterical): -50% -50%;
      else: -50% 0);
  transition: .5s ease-in;
  top: if(style(--mode: normal): 100%;
      style(--mode: hysterical): 50%;
      else: 100%);
  width: 550px;
}