*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Stupid Flanders */
    font-family: "Inter", sans-serif;

    /* padding-right: 1px; */
}
@media (min-width: 850px){
    #container{
        display: grid;
        grid-template-columns: 320px 1fr;
        gap: 1rem;
    }

}
.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main{
  padding: 0;               
  container-name: main-container;
  container-type: inline-size; 
}

@media (min-width: 850px){
  main{
    display: inline-block;
    vertical-align: top;
  }
}
#container{
  /* min-height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden; */
  -webkit-overflow-scrolling: touch;
}
@supports (display: grid){
	@media (min-width: 850px){
		main{
			grid-row: 2;
			position: relative;
		}
		#container{
			display: grid;
			grid-template-columns: 350px 1fr;
			grid-template-rows: max-content 1fr;
			gap: 1rem;
			column-gap: 0;
		}
	}
}
/* Control buttons */

button.btn-nav {
    transition: .3s ease;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 10px;
    margin-left: 1rem;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #54689c;
    display: flex;
    gap: 5px;
    align-items: center
}

button.btn-prev {
    background-color: #e8ebf2;
    color: #54689c;
    display: none
}

button.btn-prev span {
    font-size: 0
}

@container question (width > 500px) {
    button.btn-prev span {
        font-size: inherit
    }
}

button.btn-prev:hover,button.btn-next {
    background-color: var(--color-neutral);
    color: var(--color-neutral-lighter)
}

button.btn-next:hover {
    background-color: var(--color-neutral-lighter);
    color: var(--color-neutral)
}

h1,.subtitle {
    margin-left: 0!important
}

button.btn-next svg>path {
    stroke: var(--color-neutral-lighter);
    fill: var(--color-neutral-lighter)
}

button.btn-next:hover svg>path {
    stroke: var(--color-neutral);
    fill: var(--color-neutral)
}

button.btn-prev svg>path {
    stroke: var(--color-neutral);
    fill: var(--color-neutral)
}

button.btn-prev:hover svg>path {
    stroke: var(--color-neutral-lighter);
    fill: var(--color-neutral-lighter)
}

