*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Stupid Flanders */
    font-family: "Inter", sans-serif;

    /* padding-right: 1px; */
}
@media (min-width: 850px){
    #container{
        display: grid;
        grid-template-columns: 320px 1fr;
        gap: 1rem;
    }

}