:root {
  /* Kleuren met fallback */
  --primary-color-light: rgb(41, 158, 222); /* fallback */
  --primary-color-light: hsl(204, 82%, 41%);
  --color-blue-tint: rgb(236, 245, 255); /* zacht lichtblauw */

  --primary-color-dark: rgb(8, 63, 119); /* fallback */
  --primary-color-dark: hsl(210, 85%, 29%);

  --color-green-accent: rgb(19, 124, 38); /* fallback */
  --color-green-accent: hsl(132, 84%, 29%);

  --color-white: rgb(255, 255, 255); /* fallback */
  --color-white: hsl(0, 0%, 100%);

  /* Fonts */
  --font-regular: "Inter", sans-serif;
  --font-medium: "Inter Medium", "Inter", sans-serif;
  --font-semibold: "Inter Semi Bold", "Inter", sans-serif;

  /* Typografie */
  --text-size-xs: clamp(0.75rem, 1.5vw, 12px);
  --text-size-sm: clamp(0.875rem, 1.75vw, 14px);
  --text-size-md: clamp(1rem, 2vw, 16px);
  --text-size-lg: clamp(1.125rem, 2.25vw, 18px);
  --text-size-xl: clamp(1.4rem, 2.5vw, 20px);
}

